.title-text {
    color: #1A237E !important;
}

ion-toolbar {
    --background: #135DD8;
}

ion-content {
    --ion-background-color: #135DD8 !important;
}

#welcome-area {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#roadmap-area {
    text-align: center;
}

#faq-area {
    min-height: 90%;
}

.center-title {
    text-align: center;
}

#ultra-rare-area {
    margin-top: 2%;
}

#ticket-area {
    margin-top: 10%;
}
