.ticket-image {
  max-width: 300px;
  min-width: 200px;
  margin: auto;
  padding: 10px;
}

.center-grid-color {
  justify-content: center;
  border: 3px solid gold;
  min-height: 370px;
}

.card-title-center {
  text-align: center !important;
  color: white;
}

.ticket-card{
  background-color: #063A8C;
}
