.winning-item-image {
  max-width: 450px;
  margin: auto;
  padding: 10px;
}

.winning-ticket-text {
  color: white !important;
}

.winning-item-card{
  justify-content: center;
  background-color: #063A8C;
}
